body {
    font: 16px -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
}

.welcome {
    font-size: 1.2em;
    font-weight: 100;
    font-style: italic; 
    border-bottom: 3px solid #f63;
    padding: 10px 0;
}

main {
    display: flex;
    flex-direction: column;
}

main > header {
    background: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}


main > header h1 {
  font-weight: 100;
  font-size: 3em;
  margin: 0 30px;
}

main > section {
  padding: 20px;
}

article > header a {
  text-decoration-color:  #ccc;
  color: #000;
}
